.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

body {
    background-color:#CDFADB;
}

.pdf-container {
    width: 100%;
    height: 100%;
    border: none;
}

.no-underline {
    text-decoration: none;
  }

.correctAnswers {
  text-align: left;
}

.parameterToHide {
  display: none;
}

.hideOptions {
  display: none;
}

#goTest, #choices {
  width: 100%;
  height: 2.5rem;
}

/* Hide spinner controls in WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner controls in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.hidden-range {
  display: none; 
  /* visibility: hidden; */
  /* This will completely hide the element */
  /* Alternatively, you can use visibility: hidden; */
}